.navbar {
  height: 64px;

  background: white;

  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-logo {
  width: 34px;
  height: 34px;

  background: #2563eb;
  color: white;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.logout-btn {
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
}
.brand h3 {
  margin: 0;
  font-size: 14px;
}

.brand span {
  font-size: 11px;
  color: #777;
}

.company-badge {
  background: #f3f4f6;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}
.company-tabs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}

.company-tabs button {
  border: none;
  background: transparent;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.company-tabs button:hover {
  background: #eef2ff;
}

.company-tabs .active-tab {
  background: #4f46e5;
  color: white;
}
.navbar-center {
  display: flex;
  gap: 24px;
}

.navbar-center a {
  display: flex;
  align-items: center;
  gap: 6px;

  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 30px;
  height: 30px;

  border-radius: 50%;

  background: #2563eb;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  font-weight: 600;
}